@charset "utf-8";
/* CSS layout */

/* 默认样式 */
*{padding:0;margin:0;}
body{ font-size:12px;font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif;}
a{ text-decoration:none; color:#666666; border: none;}
li{ list-style:none; }
img{ border:none 0;}
input{ outline:none; border:none; background:none;}
input::-ms-clear{display:none;}


/* 浮动公共样式 */
.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }


 