html{width: 100%;height: 100%;}
body{width: 100%;height: 100%;overflow: hidden;
 background: -webkit-linear-gradient(#f78140, #fa6b56); 
  background: -o-linear-gradient(#f78140, #fa6b56); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#f78140, #fa6b56); /* Firefox 3.6 - 15 */
  background: linear-gradient(#f78140, #fa6b56); /* 标准的语法 */
}
.login{
	
	width: 5.7rem;margin:4.6rem auto 0;
}
.login .from_group{
	position: relative;
}
.login .from_group input{
	height: 0.9rem;color: #fff;font-size:0.32rem;text-indent: 1em;
	line-height: 0.9rem;color: #fff;border-bottom: 1px solid #fff;width: 5.7rem;margin-bottom: 0.7rem;
}
.login .from_group img{position: absolute;width: 0.27rem;top: 0.3rem;
    right: 0.4rem;}
input::-webkit-input-placeholder{
   color:#fff;
   opacity: 0.6;filter:alpha(opacity=60);  
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
   color:#fff;
   opacity: 0.6;filter:alpha(opacity=60);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
   color:#fff;
   opacity: 0.6;filter:alpha(opacity=60);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
   color:#fff;
   opacity: 0.6;filter:alpha(opacity=60);
}
.login .submit{
	margin-top: 0.3rem;
	background: #fff;color: #525252;font-size: 0.42rem;width: 5.7rem;height: 0.9rem;line-height: 0.9rem;border:none;text-align: center;
}